
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    color: white;
    font-family: 'Kumbh Sans', sans-serif;
}

#nav-bar{
    background-color: rgb(92, 92, 211);
    height: 50px;
    width: 100%;
    position: fixed;
}

#nav-bar ul{
    float: right;
    margin-right: 50px;
}
#nav-bar li{
    display: inline-block;
    margin-right: 20px;
}
#nav-bar li a{
    color: black;
    text-decoration: none;
}
#nav-bar li a:hover{
    color: white;
}

#add-file{
    height: 600px;
    background-color: rgb(71, 76, 85);
    padding: 50px;
}

h2{
    font-size: 45px;
}

#add-file input{
    background: rgba(255, 255, 255, 1);
    border: 1.5px solid white;
    width: 250px;
    padding: 10px;
    padding-left: 20px;
    margin: 10px;
}
#add-file input:focus{
    border: 1.5px solid rgb(92, 92, 211);
}
#add-file input:hover{
    cursor: default;
}

#add-file #tags, #add-file #comment{
    width: 560px;
}

#add-file input[type='submit']{
    background: rgb(92, 92, 211);
    margin: 1px solid white;
    color: white;
    font-size: 16px;
    padding: 15px;
    margin-top: 50px;
    transition: background-color 0.5s;
}
#add-file input[type='submit']:hover{
    color: rgb(92, 92, 211);
    background-color: white;
    cursor: pointer;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
#add-file label {
    display: block;
    margin-left: 10px;
    padding: 15px;
    width: 570px;
    margin-top: 15px;
    
    color: white;
    border: 1px solid white;
    text-align: center;

    transition: background-color 0.5s;
}
#add-file label:hover{
    background-color: white;
    color: #222;
    cursor: pointer;
}


/* MY FILES */

#my-files{
    height: 500px;
    background-color: #222;
    padding: 50px;
    overflow-y: scroll;
}

#my-files .file{
    width: 60%;
    background-color: rgb(238, 238, 238);
    border: 1px solid black;
    /* padding: 15px; */
    height: 50px;
    margin-bottom: 10px;
    margin-left: 50px;
    border: 1px solid rgb(92, 92, 211);
}

#my-files .file p{
    float: left;
    margin-left: 20px;
    color: black;
    overflow-x: clip;
    width: 55%;
}
#my-files .file section{
    width: 200px;
}

#my-files .file .icons{
    float: right;
    margin-top: 16px;
    margin-right: 10px;
}

#my-files .file .icons img{
    height: 19.2px;
    width: 19.2px;
    margin-left: 10px;
}

#my-files .file .icons img:hover{
    opacity: 0.8;
}



#add-user{
    background-color: rgb(71, 76, 85);
    padding: 50px;
}

#add-user form{
    margin-left: 50px;
}

#add-user input{
    padding: 10px;
    width: 400px;
    margin-bottom: 15px;
}

#add-user input[type='submit']{
    background: rgb(92, 92, 211);
    padding: 10px;
    border: 0.5px solid white;
    width: 100px;
    color: white;
    margin-top: 20px;
}


@media only screen and (max-width: 800px) {
    
    html, body{
        overflow-x: hidden;
    }
    
    #nav-bar{
        position: unset;
    }    

    #add-file input,#add-file #tags,#add-file #comment,#add-file label{
        width: 80%;
    }

    #my-files .file {
        width: 100%;
        margin-left: 0px;
    }

    #add-user form{
        margin-left: 0;
    }
    
    #add-user input{
        width: 100%;
    }

    #add-user input[type="submit"]{
        width: 100%;
        padding: 15px;
    }

}









